.container{
    width: 100px;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: circle;
}
li{
    margin:20px;
}
li:last-child{
    margin-right: 0;
}